#grocery-items, #new_item_form {
    width: 350px;
    max-width: 95%;
}

#grocery-items {
    background: lightyellow;
    padding: 3px;
    border: 3px solid black;
    border-radius: 10px;
}

#new_item_input {
    background: lightyellow;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

#grocery-items {
    min-height: 50px;
    list-style-type: none;
}

#new_item_input {
    display: block;
    width: calc(100% - 14px);
}

#new_item_submit {
    border-radius: 10px;
    margin-top: 10px;
    float: right;
}

#delete_purchased, #purchase_cart {
    border-radius: 10px;
    margin-top: 10px;
}

body {
    margin-left: 10px;
    background: lightblue;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#grocery-items li {
    padding: 7px;
}

#grocery-items li, #new_item_input, #new_item_submit, #delete_purchased, #purchase_cart {
    font-size: 20px;
}

#grocery-items li:nth-child(odd) {
    background: lightyellow;
}

#grocery-items li:nth-child(even) {
    background: #9cff9c;
}

.delete-button, .in-cart, .purchased {
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    font-size: 100%;
}

.delete-button {
    color: red;
}

.purchased {
    color: white;
    background-color: blue;
    border-radius: 5px;
}

.quarantined {
    color: black;
    background-color: orange;
    border-radius: 5px;
}

.unavailable {
    color: white;
    background-color: red;
    border-radius: 5px;
}

.in-cart {
    color: white;
    background-color: green;
    border-radius: 5px;
}
